{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5"><a href="{% url 'user-detail' order.user.id %}">{{order.user.first_name}}</a></h2>
    <div class="subheading mb-3">Order date: {{ order.date }}</div>
    <div class="subheading mb-3">Status: {{ order.get_status_display }}</div>
    <a href="update" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Change order status</a>
  </div>
  <div class="resume-section-content">
    <ul>
      {% for row in order.productorder_set.all %}
      <li>
        {{ row.selection.name }}, QTY: {{ row.quantity }}; Item price: €{{ row.selection.price}}; Subtotal: €{{ row.row_suma }} <a href="edititem/{{ row.id }}">Edit</a>
      </li>
      {% endfor %}
      <hr>
      <li>TOTAL €: {{ order.suma }}</li>
    </ul>
    <a href="newitem" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Add new item</a>
  </div>
</section>
{% endblock %}