{% extends "base.html" %}

{% block content %}
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Products</h2>
    {% if product_list %}
    <ul class="fa-ul mb-0">
      {% for product in product_list %}
        <li>
          {{ product.name }}, €<a href="{{ product.id }}">{{ product.price}}</a> 
        </li>
      {% endfor %}
    </ul>
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">back</a>
          {% endif %}
  
          <span class="current">
              {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">forward</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>      
    {% else %}
      <p>No orders in system.</p>
    {% endif %}
  </div>
</section>
{% endblock %}