{% extends "base.html" %}
{% block title %}<title>Login</title>{% endblock %}
{% block content %}
<section class="resume-section" id="login">
  {% if form.errors %}
    <p>Login error. Try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Only loggedin users can access this information.</p>
    {% endif %}
  {% endif %}
  <div class="d-block">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>Username: </td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>Password: </td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
  </div>
  <div class="d-block">
  </div>
</section>
{% endblock %}